# Ignore system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Ignore logger
CleanupLog.txt

# Ignore VSCode workspace settings
.vscode/
*.code-workspace

# Ignore powershell module or temp files
*.ps1xml
*.psc1
*.psm1
*.psd1
*.tmp
*.bak